.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__input {
    display: block;
    width: 90%;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: rgba($white, 0.5);
    border: none;
    font-family: inherit;
    color: inherit;
    border-bottom: 3px solid transparent;
    transition: border 0.3s ease;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($black, 0.1);
      border-bottom: 3px solid $light-green;
    }

    &::-webkit-input-placeholder,
    &::placeholder {
      color: $dark-grey-2;
    }

    &:focus:invalid {
      border-color: $color-secondary-dark;
    }
  }
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__radio-button {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 5px solid $light-green;
    margin-right: 2rem;
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      @include centerAbs;
      background-color: $light-green;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}
