body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $dark-grey;
  font-size: 1.6rem;
}

.title {
  color: $white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;

  &--big {
    @include titleVarient(6rem, 400, 3.5rem);

    @include respond(phone) {
      @include titleVarient(5rem, 400, 1rem);
    }
    animation: moveInLeft 0.5s ease-out;
  }
  &--small {
    @include titleVarient(2rem, 700, 1.5rem);

    @include respond(phone) {
      @include titleVarient(2rem, 400, 0.5rem);
    }
    animation: moveInRight 0.5s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $light-green, $dark-green);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: transform 0.3s ease;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
